@import "../styles/variables", "../styles/mixins";

.header {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  @include desktop {
    justify-content: space-between;
    row-gap: 18px;
  }
}

.title {
  color: $red;
  font-size: 1.125em;
  margin-bottom: 8px;
  @include montserrat(500);

  @include desktop {
    font-size: 2.25em;
    margin-bottom: 0;
  }
}

.location {
  color: $black;
  font-size: 0.875em;
  @include montserrat(500);

  @include desktop {
    font-size: 1.125em;
  }
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.tagItem {
  color: $white;
  background-color: $red;
  min-width: 84px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625em;
  border-radius: 5px;
  @include montserrat(700);

  @include desktop {
    border-radius: 10px;
    min-width: 115px;
    height: 25px;
    font-size: 0.875em;
  }
}

.hostAndRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

  @include desktop {
    flex-direction: column;
  }
}

.host {
  display: flex;
  align-items: center;
  gap: 7px;
}

.hostName {
  text-align: right;
  max-width: 94px;
  color: $red;
  font-size: 0.75em;
  @include montserrat(500);

  @include desktop {
    font-size: 1.125em;
  }
}

.hostPicture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;

  @include desktop {
    width: 64px;
    height: 64px;
  }
}

.content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 20px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
}

.contentArticle {
  @include desktop {
    width: 582px;
  }
}

.equipmentList {
  list-style: none;
}
