@import "../styles/mixins";

.container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;

  @include desktop {
    gap: 12px;
  }
}

.star {
  width: 14px;
  height: 14px;

  @include desktop {
    width: 25px;
    height: 25px;
  }
}
